{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zoon 2</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
   

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">


      


        <!-- # intro
        ================================================== -->
        <section id="intro" class="s-intro">

            <div class="s-intro__bg"></div>

            <div class="row s-intro__content">
                <div class="column lg-12">

                    <div class="s-intro__content-top">
                        <h1>
                        We are currently working on something awesome. Stay tuned!
                        </h1>
                       
                    </div> <!-- end s-intro__content-top --> 

                    <div class="s-intro__content-sep">
                        <span></span>
                        <span>Time left until launching</span>
                        <span></span>
                    </div> <!-- end s-intro__content-sep --> 
                    
                    <div class="s-intro__content-counter counter">
                        <div class="counter__time">
                            <span class="ss-days">365</span>
                            <span>Days</span>
                        </div>
                        <div class="counter__time">
                            <span class="ss-hours">03</span>
                            <span>Hours</span>
                        </div>
                        <div class="counter__time minutes">
                            <span class="ss-minutes">01</span>
                            <span>Mins</span>
                        </div>
                        <div class="counter__time">
                            <span class="ss-seconds">55</span>
                            <span>Secs</span>
                        </div>
                    </div> <!-- end counter --> 
                    
                    <form  action="{% url 'website:newsletter' %}" method="post" class="subscription relative">
                      {% csrf_token %}
                    <div class="form-group d-flex flex-row">
                      <div class="col-autos">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                          </div>
                       
                            
                              
                              <input name="email" type="email" class="form-control"  placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" required=""/>
                              <button type='submit' class="bbtns">Notify Me</button>
                           
                          
                          
                        </div>
                      </div>
                      
                    </div>
                  </form> <!-- end s-intro__content-subscribe -->     

                </div>    
            </div> <!-- intro__content -->



        </section> <!-- end s-intro -->


      


       


    <!-- Java Script
    ================================================== -->

    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main1.js' %}"></script>
</body>
</html>