{% load static %}
{% load humanize %}
<div class="single-sidebar-widget popular-post-widget">
  <h4 class="popular-title">Popular Posts</h4>
  <div class="popular-post-list">
    {% for post in posts1 %}
      <div class="single-post-list d-flex flex-row align-items-center">
        <div class="thumb">
          <img class="img-fluid" src="{{ post.image_size.url }}" alt="" />
        </div>
        <div class="details">
          <a href="{% url 'blog:single' pid=post.id %}"><h6>{{ post.title }}</h6></a>
          <p>{{ post.published_date|naturaltime }}</p>
          <!-- <p>{{ post.author.last_name }}</p> -->
        </div>
      </div>
      <hr />
    {% endfor %}
  </div>
</div>
